# Environments
.env
.env.local
.venv/
env/
venv/

# Dependencies
node_modules/
frontend/node_modules/

# Next.js
.next/
frontend/.next/
frontend/out/

# Caches and builds
.pytest_cache/
__pycache__/
*.pyc
*.tsbuildinfo
frontend/*.tsbuildinfo

# Archive & temporary files
*.zip
*.tar.gz
*.log

# OS files
.DS_Store
Thumbs.db
